.ardoise{
  border: lightblue;
  margin: 10px;
  padding: 30px;
  box-shadow: dimgrey 3px 3px 7px;
  transform: translate(50%,0%);
  max-width: 50%;
}
.description{
  font-size: small;
  font-family: Arial, serif;
}
button{
  float: right;
}
